.header {
  &__img {
    grid-column: col-start 1 / col-end 3;
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    @include respond(tab-port) {
      grid-column: col-start 1 / col-end 6;
    }
  }

  &__card {
    img {
      animation: card 2s linear infinite alternate;

      @include respond(tab-port) {
        height: 70%;
        position: absolute;
        top: 20%;
        left: 30%;
      }
    }

    @include respond(tab-port) {
      height: 50%;
    }
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-90px, 100px);
    z-index: 1;

    img {
      animation: scale 2.5s linear infinite;
    }

    @include respond(tab-port) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    padding-left: 2rem;
    border-left: 1px solid #4d457b;

    grid-column: col-start 4 / col-end 6;
    display: grid;
    grid-template-rows: 1fr repeat(6, minmax(4rem, min-content)) 1fr;
    grid-template-columns: 1fr 1fr;

    @include respond(tab-port) {
      padding-left: 0;
    }

    @include respond(tab-port) {
      grid-column: col-start 1 / col-end 6;
      grid-template-rows: 1fr repeat(6, minmax(4rem, min-content)) 1fr;
      grid-template-columns: 1fr 50rem 1fr;
    }
  }

  &__heading {
    grid-row: 2/3;
    grid-column: 1/3;

    @include respond(tab-port) {
      grid-row: 1/2;
      grid-column: 2/3;
    }
  }

  &__text {
    color: $color-white;
    opacity: 0.6;
    line-height: calc(28 / 18);
    grid-row: 4/5;
    grid-column: 1/3;

    @include respond(tab-port) {
      grid-row: 3/4;
      grid-column: 2/3;
    }
  }

  &__cta {
    grid-row: 6/7;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;

    @include respond(tab-port) {
      grid-row: 6/7;
      grid-column: 2/3;
    }
  }
}
