.nav {
  grid-column: col-start 1 / col-end 7;
  display: grid;
  grid-template-columns: minmax(min-content, 9rem) 1fr min-content 1fr minmax(
      max-content,
      9rem
    );
  grid-template-rows: 1/2;
  align-content: center;
  border-bottom: 1px solid #4d457b;
  position: relative;

  @include respond(tab-land) {
    padding: 0 3rem;
  }

  @include respond(tab-port) {
    grid-template-columns: minmax(min-content, 9rem) 1fr repeat(2, 15rem);
    gap: 1rem;
  }

  &__bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__logo {
    grid-column: 1/2;
    max-width: 9rem;
    align-self: center;
  }

  &__list {
    list-style: none;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-gap: 4rem;
    align-content: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__link {
    color: $color-white;
    opacity: 0.7;
  }

  &__sign-in {
    grid-column: 5/6;

    @include respond(tab-port) {
      grid-column: 4/5;
    }
  }

  &__menu {
    display: none;
    // display: block;

    @include respond(tab-port) {
      display: block;
      grid-column: 3/4;
    }
  }
}
